<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <link rel="icon" type="image/jpg" href="static\img\IMG-20230510-WA0002.jpg">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MedVission | Get Started</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/aboutus.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

    <style>
        body {
    padding-top: 3.5rem;
}

nav {
    font-family: sans-serif;
    background: linear-gradient(135deg, rgb(31, 53, 62) 0px, rgb(34, 65, 78) 25%, rgb(36, 78, 95) 50%, rgb(41, 41, 41) 75%, rgb(39, 103, 131) 100%);

}
.css-12fbu3p {
    background-color: rgb(39, 103, 131);
    display: block;
    color: white;
    padding: 24px 50px;
    width: 100%;
}
footer {
    background: linear-gradient(135deg, rgb(31, 53, 62) 0px, rgb(34, 65, 78) 25%, rgb(36, 78, 95) 50%, rgb(41, 41, 41) 75%, rgb(39, 103, 131) 100%);
    color: #d5d5d5;
    padding-top: 2rem;
}


.navbar-brand {
    font-size: 20px;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
    </style>

</head>
<body>
    <form id="form1">
        <header>
            <!--Navigation Bar-->
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#"><img src="static\img\IMG-20230510-WA0002.jpg"   width="39px"height="38px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard">Get Started</a>
                    </li>
                  
                    <li class="nav-item">
                        <a class="nav-link" href="/cancer">Health Card</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/heart">BMI</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/disindex">Disease Index</a>
                  </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/diabetes">Diabetes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kidney">Kidney Disease</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/liver">Liver Disease</a>
                    </li>
                    <li class="nav-item">
		                <a class="nav-link" href="#">|</a>
		            </li>
                    <li class="nav-item">
		                <a class="nav-link" href="/logout">Logout</a>
		            </li>
                    </ul>
                </div>
            </nav>

         <main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Hello! Lets Get Started with MedVission</h1>
      <p>Welcome to MedVission!, a risk assessment system for medical institutions to generate risk assessments for their patients.MedVission started off as a company that formed strong relationships with medical institutions to help them generate their assessments with ease and maximum efficiency thus saving the organization's valuable time.
          Click below to learn about the diseases that MedVission is capable of assessing.</p>
      <p><a class="btn btn-primary btn-lg" href="/disindex" role="button">Get Started &raquo;</a></p>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h2>1. Health Card</h2>
        <p>Navigate to the "Health Card" section and add the corresponding details and click on Submit to generate a Health Card and get the Health Id.</p>

      </div>
      <div class="col-md-4">
        <h2>2. Diabetes Prediction</h2>
        <p>Navigate to the "Diabetes" section and add the corresponding details and click on predict to learn whether the patient is at the risk of this illness/disease.</p>

      </div>
      <div class="col-md-4">
        <h2>3. BMI Calculator</h2>
        <p>Navigate to the "BMI Calculator" section and add the corresponding details and click on calculate to learn about the patients BMI Index.</p>

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <h2>4. Kidney Disease</h2>
        <p>Navigate to the "Kidney Disease" section and add the corresponding details and click on predict to learn whether the patient is at the risk of this illness/disease.</p>

      </div>
      <div class="col-md-4">
        <h2>5. Liver Disease </h2>
        <p>Navigate to the "Liver Disease" section and add the corresponding details and click on predict to learn whether the patient is at the risk of this illness/disease.</p>

      </div>
      <div class="col-md-4">
        <h2>6. Disease Index</h2>
        <p>Navigate to the "Disease Index" section and gain in-depth information about each of these diseases.</p>

      </div>
    </div>
    </div>
    <hr>
  </div>
</main>

<!-- <footer class="container">
  <p>&copy;MedVission. All Rights Reserved</p>
</footer> -->
<!--Footer-->
<footer>
  <div class="container-fluid padding">
  <div class="row text-center">
      <div class="col-md-4">
          <!--<hr class="light">-->
          <h4><b>Contact Details</b></h4>
          <!--<hr class="light">-->
          <p>+91 7905345262</p>
          <p>contactus@MedVission.com</p>
          <p>United Group of Institution</p>
          <p>Prayagraj, Uttar Pradesh</p>
      </div>
      <div class="col-md-4">
                          <!--<hr class="light">-->

          <h4><b>Visit Us</b></h4>
                          <!--<hr class="light">-->

          <p>Accessible: 24X7</p>
          <img src="static\img\IMG-20230510-WA0002.jpg" width="47px"height="48px">

          
      </div>
      <div class="col-md-4">
                      <!--<hr class="light">-->

          <h4><b>Service Areas</b></h4>
                   <!--<hr class="light">-->

          <p>Mumbai, Maharashtra</p>
          <p>Ahmedabad, Gujarat</p>
          <p>Chennai, Tamil Nadu</p>
          <p>Bhopal, Madhya Pradesh</p>
      </div>
      <div class="col-12">
                          <!--<hr class="light">-->

          <h5>Predictive Health is the future of Medicine</h5>
          
      </div>
  </div>
  </div>
  
</footer>
<div class="MuiBox-root css-12fbu3p"><span sx="[object Object]">Version &nbsp; (4.1.0) &nbsp;</span>&nbsp; <span>Copyright © 2022</span>&nbsp; <span class="float-right">&nbsp; Page Last Updated on: &nbsp; 26-02-2022 &nbsp;</span> </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script>

    </form>
</body>
</html>


